{% load static %}

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <!-- Home -->
            <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">
                    <i class="nav-icon fas fa-home"></i>
                    <p>Home</p>
                </a>
            </li>

            <!-- Restaurants -->
            <li class="nav-item">
                <a href="{% url 'restaurant_list' %}"
                    class="nav-link {% if request.path == '/restaurants/' %}active{% endif %}">
                    <i class="nav-icon fas fa-store"></i>
                    <p>Restaurants</p>
                </a>
            </li>

            <!-- Branches -->
            <li class="nav-item">
                <a href="{% url 'branch_list' %}"
                    class="nav-link {% if request.path == '/restaurants/branch/' %}active{% endif %}">
                    <i class="nav-icon fas fa-building"></i>
                    <p>Branches</p>
                </a>
            </li>

            <!-- Menus -->
            <li class="nav-item">
                <a href="{% url 'menu_list' %}"
                    class="nav-link {% if request.path == '/restaurants/menus/' %}active{% endif %}">
                    <i class="nav-icon fas fa-utensils"></i>
                    <p>Menus</p>
                </a>
            </li>

            <!-- Orders -->
            <li class="nav-item">
                <a href="{% url 'order_list' %}" class="nav-link {% if request.path == '/orders/' %}active{% endif %}">
                    <i class="nav-icon fas fa-receipt"></i>
                    <p>Orders</p>
                </a>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->